#contacto
{
	position:relative;
	width:400px;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	padding:20px;
	background-color:#F5F5F5;
	box-shadow:0px 0px 5px gray;
	border-radius:10px;
}
 table 
{
	position:relative;
	margin-top:0px;
	padding:5px;
	font-size:16px;
	font-family:cambria, arial, times new romans;
	border-spacing:20px;
}
table tr td{

}

table select, table input, table textarea{
	font-size:16px;
	border:solid gray 1px;
	background-color:white;
	border-radius:0px;
	font-family:arial,verdana,sans serif;
	padding:5px;
	width:100%;
	-webkit-appearance: none;
	resize:none;
}

table input{
	width:250px;
}

table select{
	background-image:url(../img/drop.jpg);
	background-repeat:no-repeat;
	background-position:right;
}


table button{
	-webkit-appearance:none;
	border-radius:none;
	background-color:white;
	border:solid gray 1px;
	color:black;
	padding:10px;
	font-size:17px;
	font-family:arial, verdana, sans-serif;
	cursor:pointer;
}

table button:hover{
	background-color:#009999;
	color:white;
}

#busqueda_avanzada
{
	position:relative;
	width:400px;
	height:430px;
	margin-top:40px;
	margin-bottom:40px;
	margin:auto;
	padding:20px;
}
