h2{
	font-family:arial;
	font-size:20px;
	font-weight:normal;
}

ol{
	line-height:28px;
	margin-bottom:60px;
	margin-top:40px;
}

li
{
	color:#E18A07;
}

li a{

}

#container_preguntas ol li a:hover{
	color:#E18A07;
	text-decoration:underline;
}
h2 a:hover
{
	text-decoration:none;
}